@tailwind base;
@tailwind components;
@tailwind utilities;

.place_list{
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.place_item{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
    background-color: #252525;
    border-color: #000000;
    border-radius: 30px;
    border-style: inherit;
    border-width: 3px;
    width: 49%
}
.place_item img{
    width: 100%;
    height: 200px;
    border-radius: 30px 30px 0px 0px;

}
.place_item_up{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.place_item_down{
    display: flex;
    flex-direction: row;
    /* gap: 30px; */
    justify-content: space-between;
}

.place_show
{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.place_show img
{
    width: 100%;
    height: 300px;
    border-radius: 30px 30px 0px 0px;
}